<html>
<head>
<title>Hash DB Check</title>
<meta charset="utf-8"/>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"/>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./cvi_busy_lib.js"></script>
<script type="text/javascript">
$(function(){
  window.addEventListener( 'dragover', function( event ){
    event.preventDefault(); // ブラウザのデフォルトの画像表示処理をOFF
  }, false );
  window.addEventListener( 'drop', function( event ){
    event.preventDefault(); // ブラウザのデフォルトの画像表示処理をOFF
    var file = event.dataTransfer.files[0];
    var reader = new FileReader(); 
    reader.onload = function(){
      fileUpload( file );
    };
    reader.onerror = function( e ){
      console.log( 'error: ' + e );
    };
    reader.readAsDataURL( file );
  }, false );

  // ファイルを選択した場合にもプレビュー表示させる
  var selfInput = $(this).find( 'input[type=file]' );
  selfInput.change( function(){
    var file = $(this).prop('files')[0];
    var reader = new FileReader();
    if( this.files.length ){
      reader.onload = function(){
        fileUpload( file );
      };
      reader.onerror = function( e ){
        console.log( 'error: ' + e );
      };
      reader.readAsDataURL( file );
    }else{
      if( 0 < selfImg.size() ){
        return;
      }
    }
  });

  listFiles();
});

// ファイルアップロード
function fileUpload( f ){
  var obj = getBusyOverlay( 'viewport', { color:'black', opacity:0.5, text:'loading', style:'text-decoration:blink;font-weight:bold;font-size:12px;color:white' } );
  var formData = new FormData();
  formData.append( 'file', f );
  $.ajax({
    type: 'POST',
    contentType: false,
    processData: false,
    url: './check',
    data: formData,
    success: function( data ){
      obj.remove();
      json = JSON.parse( data );
      console.log( json );

    },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      obj.remove();
      // メッセージ出したり、DOM構築したり。
      console.log( "XMLHttpRequest: " + XMLHttpRequest.status );
      console.log( "textStatus: " + textStatus );
      console.log( "errorThrown: " + errorThrown.message );
    }
  });
}
</script>
<style>
</style>
</head>
<body>
<!-- //new -->
<div class="container" style="padding:60px 15px;">
<form method="POST" action="./file" enctype="multipart/form-data">
<input type="file" name="file"/>
</form>
</div>
<!-- new// -->

</body>
</html>

